Binaries/
Build/
DerivedDataCache
Intermediate
Saved
Releases
.kdev4
*.bat
*.exe
*.opensdf
*.sdf
*.sln
*.suo
*.pdb
*-DebugGame.dll
*.log
*.target.xml
*.pri
/Rade.VC.opendb
/Rade.workspace
/Rade.userprefs
/Rade.pro.user
/Rade.pro
/Rade.kdev4
/RadeCodeLitePreProcessor.txt
/RadeCodeCompletionFolders.txt
/Makefile
/.kdev4/Defines.txt
/.kdev4/Includes.txt
/.kdev4/Rade.kdev4
/CMakeLists.txt
